<div class="hs-sent-offer-wrapper manage-layout">
    <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <section>
                <div class="row">
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12 hs-custom-header-left left-side">
                        <header class="hs-page-title-wrapper">
                            <div class="hs-page-title">
                                <figure class="title-text-icon hs-mobile-hide">
                                    <img src="/assets/svg-img/dashboard-received-job-replied.svg" alt="sent-job-offers">
                                </figure>
                                <div class="hs-title-btn-outer-wrapper">
                                    <div class="hs-btn-job-offer-status-wrapper">
                                        <span class="title-text">
                                            My Interviews
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </header>
                    </div>
                </div>
            </section>
        </div>
    </div>
    <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <app-my-interview-list [dataType]="dataType"></app-my-interview-list>
        </div>
    </div>
</div>