<div class="subcontractor-wrapper">
    <header class="subcontractor-header site-header">
        <div class="page-center">
            <app-admin-header></app-admin-header>
        </div>
    </header>
    <div class="body-container-wrapper">
        <div class="page-center">
            <aside class="hs-sidebar-outer-wrapper">
                <app-recruiter-menu></app-recruiter-menu>
            </aside>
            <main id="content-wrapper" class="content-wrapper">
                <div class="container-fluid">
                    <router-outlet></router-outlet>
                </div>
            </main>
        </div>
    </div>
</div>
<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>