<div class="model-inner-content-wrapper">
    <div class="model-close-icon" (click)="activeModal.dismiss('click')">
        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" viewBox="0 0 25 25">
            <path id="Path_3016" data-name="Path 3016"
                d="M19.825,15.928l7.8-7.8a2.755,2.755,0,0,0-3.9-3.9l-7.8,7.8-7.8-7.8a2.755,2.755,0,0,0-3.9,3.9l7.8,7.8-7.8,7.8a2.756,2.756,0,1,0,3.9,3.9l7.8-7.8,7.8,7.8a2.756,2.756,0,0,0,3.9-3.9Z"
                transform="translate(-3.429 -3.429)" fill="#f4f5f7"></path>
        </svg>
    </div>
    <div class="model-inner-content">
        <div class="hs-business-doctype-list-group">
            <div class="modal-header no-bg">
                <div class="hs-popup-title">
                    <header class="hs-page-title-wrapper">
                        <div class="hs-page-title">
                            <figure class="title-text-icon hs-mobile-hide">
                                <img src="/assets/svg-img/dashboard-received-job-replied.svg" alt="sent-job-offers">
                            </figure>
                            <div class="hs-title-btn-outer-wrapper">
                                <div class="hs-btn-job-offer-status-wrapper">
                                    <span class="title-text">
                                        Interview Appraisal Form
                                    </span>
                                    <span class="hs-title-btn-wrapper"
                                        [innerHtml]="feedBackData.currentState | interviewState">
                                    </span>
                                </div>
                            </div>
                        </div>
                    </header>
                </div>
            </div>
            <div class="modal-body">
                <div class="hs-inner-tab-container">
                    <div class="interview-feedback-box table data_table_area" *ngIf="feedBackData">
                        <div class="table-header">
                            <div class="table-row">
                                <div class="left">
                                    <div class="table-col requirement">
                                        REQUIREMENTS
                                    </div>

                                    <div class="table-col rating">
                                        RATING (1-5)
                                    </div>
                                    <div class="table-col distinguishing-aspect">
                                        DISTINGUISHING ASPECTS
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="table-body">
                            <div class="sub-table-row"
                                *ngFor="let hiringRequirment of feedBackData.interviewFeedbacks;let i = index">
                                <div class="table-col sub-header">
                                    <b>{{hiringRequirment.requirementTitle}}</b>&nbsp;({{hiringRequirment.requirementSubTitle}})

                                </div>
                                <div class="table-row"
                                    *ngFor="let hiringElement of hiringRequirment.hiringElements;let childCnt = index">
                                    <div class="left">
                                        <div class="table-col requirement">
                                            {{hiringElement.title}}
                                        </div>
                                        <div class="table-col rating">
                                            {{hiringElement.rating}}
                                        </div>
                                        <div class="table-col distinguishing-aspect">
                                            {{hiringElement.distinguishingAspect}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>