<div class="model-inner-content-wrapper">
    <div class="model-close-icon" (click)="activeModal.dismiss('click')">
        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" viewBox="0 0 25 25">
            <path id="Path_3016" data-name="Path 3016"
                d="M19.825,15.928l7.8-7.8a2.755,2.755,0,0,0-3.9-3.9l-7.8,7.8-7.8-7.8a2.755,2.755,0,0,0-3.9,3.9l7.8,7.8-7.8,7.8a2.756,2.756,0,1,0,3.9,3.9l7.8-7.8,7.8,7.8a2.756,2.756,0,0,0,3.9-3.9Z"
                transform="translate(-3.429 -3.429)" fill="#f4f5f7"></path>
        </svg>
    </div>

    <div class="model-inner-content">
        <div class="hs-business-doctype-list-group">
            <div class="modal-header no-bg">
                <div class="hs-popup-title">
                    <h4>{{title}} </h4>
                </div>
            </div>
            <div class="modal-body">
                <form autocomplete="off" [formGroup]="createuserForm">
                    <div class="row">
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12">
                            <div class="form-group">
                                <label for="firstName" class="control-label">
                                    First Name
                                </label>
                                <input type="text" placeholder="First Name" class="form-control"
                                    formControlName="firstName" name="firstName" />
                            </div>
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12">
                            <div class="form-group required">
                                <label for="lastName" class="control-label">Last Name</label>
                                <input formControlName="lastName" type="text" class="form-control"
                                    placeholder="Last Name" name="lastName" />
                            </div>
                        </div>
                    </div>
                    <div class="row">

                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12">
                            <div class="form-group required">
                                <label for="userName" class="control-label">User Name</label>
                                <input formControlName="userName" type="email" class="form-control"
                                    placeholder="user Name" name="userName" />
                            </div>
                        </div>

                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12">
                            <div class="form-group mb-hf">
                                <label for="userType" class="control-label">
                                    User Type
                                </label>
                                <select class="form-control select" id="userType" formControlName="userType" name="userType">
                                    <option *ngFor="let data of userRoleList" [value]="data.roleID" >
                                        {{ data.roleName }}
                                    </option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12">
                            <div class="form-group">
                                <label for="password" class="control-label">
                                    Password
                                </label>
                                <input type="password" placeholder="password" class="form-control"
                                    formControlName="password" name="password" />
                            </div>
                        </div>
                    </div>

                    <div class="btn-wrapper text-right">
                        <button type="button" class="btn btn-secondary btn-sm ml-2"
                            (click)="activeModal.dismiss('click')">CANCEL</button>
                        <button type="submit" class="btn btn-success btn-sm ml-2" (click)="onSubmit()" *ngIf="canviewSaveButton">SAVE</button>
                        <button type="submit" class="btn btn-success btn-sm ml-2" (click)=" onUpdate()" *ngIf="canviewUpdateButton">UPDATE</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>