<div class="hs-sidebar-inner-wrapper">
    <div class="hs-sidebar-wrapper">
        <div class="hs-overflow-wrapper">
            <div class="hs-side-nav-wrapper">
                <ul>
                    <li class="hs-menu-item " routerLinkActive="active">
                        <a class="nav-link" href="javascript:void(0);" routerLink="dashboard" [routerLinkActive]='"active"'
                        [routerLinkActiveOptions]='{exact:true}'>
                            <img src="/assets/svg-img/dashboard.svg" alt="dashboard" class="main-nav-icon" />
                            <span class="text">Dashboard</span>
                        </a>
                    </li>

                    <li class="hs-menu-item offer-marketplace" routerLinkActive="active">
                        <a class="nav-link" href="javascript:;" routerLink="my-interviews" routerLinkActive="active">
                            <img src="/assets/svg-img/dashboard-received-job-replied.svg" alt="marketplace" class="main-nav-icon marketplace" />
                            <span class="text">My Interviews</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>